#Which menu should /punish <player> open?
Command: "{openmenu:main-menu}"
#Should the console run the punishment command?
ConsoleRunsCommands: false
#Menus
menus:
  #main-menu is the default menu, to create more just copy and paste the same format.
  main-menu:
    #You're using this name to access to this menu from anywhere in the configuration where you have action option
    #Just use for action {openmenu:menu-name}
    name: "main-menu"
    menu-title: "&c&lPunishmentGUI"
    menu-size: 53
    fill-menu:
      enabled: true
      fill-data: 15
      material: "STAINED_GLASS_PANE"
    items:
      ClientModOffensesItem:
        name: "&a&lClient Mod Offenses"
        material: "IRON_SWORD"
        durability: 0
        slot: 14
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: false
          #Put command without /
          execute: ""
        action: ""
        lore:
          - ""
          - '&7X-Ray, Forcefield, Speed, Fly, Inventory Hacks, etc'
          - ""
      GeneralOffensesItem:
        name: "&a&lGeneral Offenses"
        material: "HOPPER"
        durability: 0
        slot: 12
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: false
          #Put command without /
          execute: ""
        action: ""
        lore:
          - ""
          - '&7Command/Map/Class/Skill Exploits, etc'
          - ""
      ChatOffensesItem:
        name: "&a&lChat Offenses"
        material: "BOOK_AND_QUILL"
        durability: 0
        slot: 10
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: false
          #Put command without /
          execute: ""
        action: ""
        lore:
          - ""
          - '&7Verbal Abuse, Spam, Harassment, Trolling, etc'
          - ""
      WarningItem:
        name: "&a&lChat Offenses"
        material: "ANVIL"
        durability: 0
        slot: 43
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "warn {target} Spam/Hack Accusation/Trolling -s"
        action: ""
        lore:
          - ' '
          - '&7Example Warning Input:'
          - '&fSpam - Repeatedly writing MEOW'
          - '&fHack Accusation - Accused Tomp13 of hacking'
          - '&fTrolling - was trying to make bob angry in chat '
          - ' '
      PermanentMuteItem:
        name: "&a&lPermanent Mute"
        material: "PAPER"
        durability: 0
        slot: 25
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "mute {target} Severe Advertising/Other Severe Offense -s"
        action: ""
        lore:
          - '&fMute Duration: &ePermanent'
          - ' '
          - '&7Severe Advertising'
          - '&fJOIN MINECADE! THIS SERVER IS TRASH'
          - ' '
          - '&7Other Severe Offense'
          - '&fDDOS Threats/Death Threats ETC'
          - ' '
      Severity1MuteItem:
        name: "&a&lSeverity 1"
        material: "INK_SACK"
        durability: 0
        slot: 19
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "mute {target} 1h Light Spam/Light Advertising/Light Abuse-Harassment/Hackusations -s"
        action: ""
        lore:
          - '&fMute Duration: &e1 Hour'
          - ' '
          - '&7Light Spam'
          - '&fSending the same message 2-5 times'
          - ' '
          - '&7Light Advertising'
          - '&fanyone want to play on minecade?'
          - ' '
          - '&7Light Abuse/Harassment'
          - '&fyou are so bad at this game'
          - ' '
          - '&7Hackusations'
          - '&fyoure such a hacker!'
          - ' '
      Severity2MuteItem:
        name: "&a&lSeverity 2"
        material: "INK_SACK"
        durability: 0
        slot: 28
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "mute {target} 1w Medium Spam/Medium Advertising/Medium Abuse-Harassment/Avoiding Chat Filter"
        action: ""
        lore:
          - '&fMute Duration: &e1 Week'
          - ' '
          - '&7Medium Spam'
          - '&fSending the same message 6-20 times'
          - ' '
          - '&7Medium Advertising'
          - '&fjoin trash.server.net'
          - ' '
          - '&7Medium Abuse/Harassment'
          - '&fyoure terrible, learn to play'
          - '&ftrash off you stupid newb'
          - ' '
          - '&7Avoiding Chat Filter'
          - '&f|_|<S YOU'
          - ' '
      Severity3MuteItem:
        name: "&a&lSeverity 3"
        material: "INK_SACK"
        durability: 0
        slot: 37
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "mute {target} 1m Severe Spam/Severe Abuse-Harassment -s"
        action: ""
        lore:
          - '&fMute Duration: &e1 Month'
          - ' '
          - '&7Severe Spam'
          - '&fSending the same message 20+ times'
          - '&fSpam Bot'
          - ' '
          - '&7Severe Abuse/Harassment'
          - '&fGO DIE'
          - ' '
      PermanentBanItem:
        name: "&a&lPermanent Ban"
        material: "REDSTONE_BLOCK"
        durability: 0
        slot: 34
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ban {target} Severe Threats -s"
        action: ""
        lore:
          - '&fBan Duration: &ePermanent'
          - ' '
          - '&7Severe Threats'
          - '&fKILL THEM ALL WERE GOING TO HACK THE SERVER'
          - ' '
      Severity1GeneralBanItem:
        name: "&a&lSeverity 1"
        material: "INK_SACK"
        durability: 0
        slot: 21
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ban {target} 1h Team Killing/Trolling(Gameplay)/Map-Bug Exploiting -s"
        action: ""
        lore:
          - '&fBan Duration: &e1 Hour'
          - ' '
          - '&7Team Killing'
          - '&fIntentionally killing your team'
          - ' '
          - '&7Trolling (Gameplay)'
          - '&fUsing abilities to trap players in spawn'
          - ' '
          - '&7Map/Bug Exploiting'
          - '&fAbusing an exploit to gain an advantage'
          - ' '
      Severity1ClientBanItem:
        name: "&a&lSeverity 1"
        material: "INK_SACK"
        durability: 0
        slot: 23
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ban {target} 1d Damage Indicators/Player Radar -s"
        action: ""
        lore:
          - '&fBan Duration: &e1 Day'
          - ' '
          - '&7Examples'
          - '&fDamage Indicators'
          - '&fPlayer Radar'
          - ' '
      Severity2ClientBanItem:
        name: "&a&lSeverity 2"
        material: "INK_SACK"
        durability: 0
        slot: 32
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ban {target} 1w Forcefield/Speed Hack/Reach Hack/Other Hack (First Offense) -s"
        action: ""
        lore:
          - '&fBan Duration: &e1 Week'
          - ' '
          - '&7Examples'
          - '&fForcefield'
          - '&fSpeed Hack'
          - '&fReach Hack'
          - '&fOther Hack'
          - '&cFirst Offense Only!'
          - ' '
      Severity3ClientBanItem:
        name: "&a&lSeverity 3"
        material: "INK_SACK"
        durability: 0
        slot: 41
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ban {target} 1m Forcefield/Speed Hack/Reach Hack/Fly Hack/Other Hack (Second Offence) -s"
        action: ""
        lore:
          - '&fBan Duration: &e1 Month'
          - ' '
          - '&7Examples'
          - '&fForcefield'
          - '&fSpeed Hack'
          - '&fReach Hack'
          - '&fFly Hack'
          - '&fOther Hack'
          - '&cAlso for second offenders!'
          - ' '
      IPMuteItem:
        name: "&a&lIP Mute"
        material: "TNT"
        durability: 0
        slot: 7
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ipmute {target} IPMUTE -s"
        action: ""
        lore:
          - ' '
          - '&fMute Duration: &eForever'
          - '&cIP MUTE'
          - ' '
      IPBanItem:
        name: "&a&lIP BAN"
        material: "TNT"
        durability: 0
        slot: 7
        message:
          enabled: false
          text: "&eHello &b<player>!"
        command:
          enabled: true
          #Put command without /
          execute: "ipban {target} IPBAN -s"
        action: ""
        lore:
          - ' '
          - '&fBan Duration: &eForever'
          - '&cIP BAN'
          - ' '